$def with (name, str)

$var title: 人工打码
$var css:
$var js: /static/js/jquery-1.7.1.min.js /static/js/man2.js?ver=1.6
$var name: $str $name
$var load: doFirst(6,3);

<h3>人工打码 &nbsp;&nbsp;<a class="act" href="/man2">手动刷新</a></h3>
<p><label id="tips"></label></p>

<h4>输入随机码:</h4>
<table >
<tr>
<td class="dotb" width="300" height="260"><div id="wait_sjrand_0"></div></td>
<td class="dotb" width="300" height="260"><div id="wait_sjrand_1"></div></td>
<td class="dotb" width="300" height="260"><div id="wait_sjrand_2"></div></td>
</tr>
<tr>
<td class="dotb" width="300" height="8"><img src="/static/null.jpg" /></td>
<td class="dotb" width="300" height="8"><img src="/static/null.jpg" /></td>
<td class="dotb" width="300" height="8"><img src="/static/null.jpg" /></td>
</tr>
<tr>
<td class="dotb" width="300" height="260"><div id="wait_sjrand_3"></div></td>
<td class="dotb" width="300" height="260"><div id="wait_sjrand_4"></div></td>
<td class="dotb" width="300" height="260"><div id="wait_sjrand_5"></div></td>
</tr>
</table>

<br/>