$def with (name, str)

$var title: 首页
$var css:
$var js: 
$var name: $str $name
$var load:
    
<h3>最新消息</h3>

<br/>
<h4>2015-04-06 Qunar上线步入正轨</h4>
<div>更新内容：</div>
<div>1.Qunar接口：完善平台程序稳定性</div>
<div>2.Takit平台：并发处理</div>
<h4>2015-03-31 Qunar新接口联调基本完成</h4>
<div>更新内容：</div>
<div>1.Qunar接口：完善平台程序稳定性</div>
<div>2.Qunar接口：代付接口</div>
<h4>2014-12-07 Qunar接口联调基本完成</h4>
<div>更新内容：</div>
<div>1.Qunar接口：完善平台程序稳定性</div>
<div>2.借助外部接口自动打码</div>
<h4>2014-11-25 Qunar接口联调</h4>
<div>更新内容：</div>
<div>1.Qunar接口：订票、退票</div>
<div>2.自动生成支付宝扫描支付界面</div>
<h4>2014-11-02 takit.f8geek.com内测</h4>
<div>更新内容：</div>
<div>1.核心功能：查询、下单</div>
<h4>2014-10-19 开发版本 alpha</h4>
<div>更新内容：</div>
<div>1.基本框架</div>
<br/>

<h3>在线帮助：</h3>
<div>n/a</div>
<br/>
